*, *:before, *:after {
    box-sizing: border-box;
}

input[type=text]{
    
    align-items: center;
    padding:5px;
    margin:10px 0;
    font-family: 'Montserrat', sans-serif;
}


h1{
    padding: 20px 20px 0;
    text-align: center;
    font-weight: 200;
}
div{
    text-align: center;
    background-color: #A5F1E9;
    width:600px;
    margin: 20px auto 20px;
    padding: 15px auto 30px;
    border-style: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.form{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    width: 500px;
    padding: 20px 20px 20px 20px;
    margin: 20px 10px 30px 10px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}
.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 220px;
    height: 40px;
  }

.submit-btn{
    width: 100%;
    background-color: #7FB77E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}