*, *:before, *:after {
    box-sizing: border-box;
}

div{
    text-align: center;
    background-color: #A5F1E9;
    width: 350px;
    margin: 20px auto 20px;
    padding: 15px auto 30px;
    border-style: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3071a9;
}
